page-home {
    .button{
        margin-top:20%;
    }
    .page{
        
        background-color:#f2f2f2;
    }
        
    ion-title{
        text-align: center;
     }

    .center{
        text-align: center;
        
    }
}

